
.eventCard{
    border: 1px solid gray;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.eventCard__left{
   flex: 0.5;
}

.eventCard__right{
    flex: 0.5;
}

.eventCard__image{
    object-fit: contain;
    width: 600px;
}